<div class="left-nav">
  <div id="side-nav">
    <ul id="nav">
      
      <li>
        <a href="javascript:;">
          <i class="iconfont left-nav-li" lay-tips="系统管理">&#xe6b8;</i>
          <cite>系统管理</cite>
          <i class="iconfont nav_right">&#xe697;</i>
        </a>
        <ul class="sub-menu">
          <li>
            <a onclick="xadmin.add_tab('用户管理','<%= background_users_path %>')">
              <i class="iconfont">&#xe6a7;</i>
              <cite>用户管理</cite>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript:;">
          <i class="iconfont left-nav-li" lay-tips="平台管理">&#xe6b8;</i>
          <cite>平台管理</cite>
          <i class="iconfont nav_right">&#xe697;</i>
        </a>
        <ul class="sub-menu">
          <li>
            <a onclick="xadmin.add_tab('图书类别','<%= cloud_categories_path %>')">
              <i class="iconfont">&#xe6a7;</i>
              <cite>图书类别</cite>
            </a>
          </li>
        </ul>
      </li>


      <li>
        <a href="javascript:;">
          <i class="iconfont left-nav-li" lay-tips="来源网站管理">&#xe6b8;</i>
          <cite>来源网站管理</cite>
          <i class="iconfont nav_right">&#xe697;</i>
        </a>
        <ul class="sub-menu">
          <li>
            <a onclick="xadmin.add_tab('来源网站','<%= ebook_web_sites_path %>')">
              <i class="iconfont">&#xe6a7;</i>
              <cite>来源网站</cite>
            </a>
          </li>

          <li>
            <a onclick="xadmin.add_tab('来源书库','<%= ebook_web_books_path %>')">
              <i class="iconfont">&#xe6a7;</i>
              <cite>来源书库</cite>
            </a>
          </li>

          <li>
            <a onclick="xadmin.add_tab('来源类别','<%= ebook_web_categories_path %>')">
              <i class="iconfont">&#xe6a7;</i>
              <cite>来源类别</cite>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>