<%= render "search"%>

<div class="layui-card-header">
  <%= link_to_icon "新增", new_ebook_web_category_path %>
</div>

<div class="layui-card-body layui-table-body layui-table-main">
  <table class="layui-table layui-form">
    <thead>
      <tr>
        <th>序号</th>
        <th>网站名称</th>
        <th>类别名称</th>
        <th>平台类别</th>
        <th>创建日期</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <% @web_categories.each_with_index do |web_category, index|%>
        <tr id="web_category_<%= web_category.id%>">
          <td><%= index + 1%></td>
          <td><%= web_category.web_site.name %></td>
          <td><%= link_to_blank web_category.name, web_category.url %></td>
          <td><%= web_category.category.name rescue ""%></td>
          <td><%= web_category.created_at %></td>
          <td class="td-manage x-admin-sm">
            <%= link_to_dialog "查看", ebook_web_category_path(web_category), remote: true%>
            <%= link_to_icon "编辑", edit_ebook_web_category_path(web_category) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @web_categories%>