<div class="layui-fluid">
  <div class="layui-row">
    <%= simple_form_for [:ebook, @web_category] do |f|%>

      <%= f.input :name %>
      <%= f.input :web_site_id, collection: WebSite.pluck(:name, :id) %>
      <%= f.input :category_id, collection: Category.pluck(:name, :id) %>

      <%= render form_btn, f: f%>
    <% end %>
  </div>
</div>